.date {
	background-color: blue;
}
.btb-header { }
.rheader {
	font-size: large
}
.sheader {
	padding-top: 10px;
}
.bibref {
	/*padding:3px; */
	/* padding-left:15px; */
	vertical-align:top;
	color:white;
}


/*.bibtitle { font-weight:bold; }*/
.bibitem {
	text-indent:-1.75rem;
	padding-left:1.75rem;
}

/* .pubs table {
	font-size: 1rem;
} */
.bibbooktitle { font-style:italic; }
.count { color:#999; }
.sheader { font-weight:bold; font-size: large; color:#d45026}
.volume { font-style: italic; }


/*pubs area*/

.pubs h4 {
    /*margin: 0px 60px 0px 60px;*/
    /* font-size: 24px; */
     color: #737373;
    /* margin-bottom: 0px; */
}

.pubs a {
  display: inline;
}
