/* your styles go here */

.accent {
  color: #f39c12;
}

.bg-primary {

  background: #ffc713 !important;
}

.heading h1:after, .panel-heading h1:after, .heading h2:after, .panel-heading h2:after, .heading h3:after, .panel-heading h3:after, .heading h4:after, .panel-heading h4:after, .heading h5:after, .panel-heading h5:after, .heading h6:after, .panel-heading h6:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin-top: .6rem;
  background: #ffc713;
}

.icon-filled {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #ffc713;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 0.75rem;
}

.form-control:focus {
  border-color: #ffc713;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255,199,19,.25);
  box-shadow: 0 0 0 0.2 rgba(255,199,19,.25);
}

.card-primary {
  border-radius: 0;
  border-color: #ffc713;
}

.card-primary .card-header {
  background: #ffc713;
  color: #fff;
  border: none;
  border-radius: 0;
}

.card-primary .card-body {
  border-color: #ffc713;
}

.top-bar ul.social-custom a:hover {
  background: #ffc713;
  color: #fff;
}

#navbar .dropdown-menu a.nav-link:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  color: #ffc713;
}

#navbar .navbar-nav > li.active > a {
  background: #ffc713 !important;
  color: #fff !important;
  text-decoration: none !important;
  border-color: #f2b416 !important;
}



#navbar .navbar-nav > li > a:focus {
  background: #ffc713 !important;
  color: #fff !important;
  text-decoration: none !important;
  border-color: #f2b416 !important;
}

#navbar .navbar-nav > li > a:hover {
  background: #faee5e;
  border-color: #f6d414;
}

.btn-template-main {
  background: #ffc713;
  border: 1px solid #ffc713 !important;
  color: #fff !important;
  border-radius: 0 !important;
  text-decoration: none;
}

.btn-template-main:hover, .btn-template-main:focus {
  background: #d45026;
  color: #fff !important;
  border-color: #d45026 !important;
}

.btn-template-white {
  background: #fff;
  color: #ffc713 !important;
  border: 1px solid #ffc713 !important;
  border-radius: 0 !important;
  text-decoration: none;
}

.btn-template-white:hover, .btn-template-white:focus {
  background: #ffc713 !important;
  color: #fff !important;
}

.btn-template-outlined {
  background: none;
  border: 1px solid #ffc713 !important;
  color: #ffc713;
  border-radius: 0 !important;
  text-decoration: none;
}

.btn-template-outlined:hover, .btn-template-outlined:focus {
  background: #ffc713;
  color: #fff !important;
}

.btn-template-outlined-white:hover, .btn-template-outlined-white:focus {
  background: #fff;
  color: #ffc713 !important;
}


.testimonials .icon {
  color: #ffc713;
  font-size: 2rem;
  margin-right: 20px;
}

.testimonials .owl-dot.active span {
  background: #ffc713 !important;
}

.project .owl-dot.active span {
  background: #ffc713 !important;
}


.project .owl-nav .owl-prev, .project .owl-nav .owl-next {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  color: #ffc713;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project .owl-nav .owl-prev:hover, .project .owl-nav .owl-next:hover {
  background: #ffc713;
  color: #fff;
}

.text {
    text-align: left;
}

.box-simple .icon-outlined {
  color: #ffc713;
  border: 1px solid #ffc713;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


.package {
  text-align: center;
  border: 1px solid #ffc713;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  overflow: hidden;
}

.best-value .package {
  margin-top: 0;
  padding-bottom: 40px;
  border: 1px solid #ffc713;
}

#productMain .sizes a:hover {
  background: #ffc713;
  color: #fff;
}

#checkout .nav-pills {
  margin-bottom: 30px;
  border-bottom: 1px solid #ffc713;
}

.nav-pills .nav-link.active {
  background: #ffc713;
}


.tag-cloud a:hover {
  border-color: #ffc713;
}


.ribbon {
  width: 80px;
  height: 32px;
  line-height: 32px;
  background: #ffc713;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 20px;
  position: absolute;
  top: 30px;
  left: -15px;
  text-align: center;
}

.ribbon.sale {
  background: #ffc713;
}


#map {
  border-top: 1px solid #ffc713;
  border-bottom: 1px solid #ffc713;
  height: 300px;
  margin-top: 50px;
}

.get-it {
  background: #ffc713;
  color: #fff;
  padding: 50px 0;
}

footer.main-footer .copyrights a {
  color: #ffc713;
  background: #d45026;
}


footer.main-footer .copyrights {
  background: #d45026;
  padding: 20px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn-primary {
  color: color-yiq(#ffc713);
  background-color: #ffc713;
  border-color: #ffc713;
}

.btn-primary:hover {
  background-color: #f2b416;
  border-color: #f2b416;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #faee5e;
  box-shadow: 0 0 0 0.2rem #faee5e;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: color-yiq(#ffc713);
  background-color: #ffc713;
  border-color: #ffc713;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: color-yiq(#f2b416);
  background-color: #f2b416;
  border-color: #d45026;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #faee5e;
  box-shadow: 0 0 0 0.2rem #faee5e;
}


.btn-outline-primary {
  color: #ffc713;
  background-color: transparent;
  background-image: none;
  border-color: #ffc713;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #ffc713;
  border-color: #ffc713;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #faee5e;
  box-shadow: 0 0 0 0.2rem #faee5e;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #ffc713;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: color-yiq(#ffc713);
  background-color: #ffc713;
  border-color: #ffc713;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #faee5e;
  box-shadow: 0 0 0 0.2rem #faee5e;
}


a {
  color: #ffc713;
  text-decoration: none;
}

a:focus, a:hover {
  color: #d45026;
  text-decoration: underline;
}


.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-left: 5px solid #ffc713;
}

.blockquote-footer {
  color: #868e96;
}

.blockquote-footer::before {
  content: "\2014 \00A0";
}

.text-primary {
  color: #ffc713 !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #f2b416 !important;
}


.page-item.active .page-link {
  color: #fff;
  background-color: #ffc713;
  border-color: #ffc713;
}

.page-item.disabled .page-link {
  color: #868e96;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-link {
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: #ffc713;
  background-color: #fff;
  border: 1px solid #dee2e6;
}


.page-link:focus, .page-link:hover {
  color: #d45026;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
  outline: 0;
}


.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #ffc713;
}


/*
* 6. UTILITIES
*/
.bg-primary {
  background-color: #ffc713 !important;
}

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #f2b416 !important;
}


.border-primary {
  border-color: #ffc713 !important;
}



.text-primary {
  color: #ffc713 !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #f2b416 !important;
}


.badge-primary {
  color: #111;
  background-color: #ffc713;
}

.badge-primary[href]:focus, .badge-primary[href]:hover {
  color: #111;
  text-decoration: none;
  background-color: #f2b416;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ffc713;
}

ul.social a.github {
  background: #161515;
}

.team-member .img-fluid {
    max-width: 75%;
    height: auto;
}

footer.main-footer {
  padding: 0px 0;
  background: #d45026;
  color: #fff;
  }
}

.btn {
  text-transform: none;
}

.home-carousel h1, .home-carousel h2 {
  text-transform: none;
}


.home-carousel li, .home-carousel p {
  text-transform: none;
}


.box-simple h3 {
  text-transform: none;
}


.box-image h3 {
  text-transform: none;
}

.box .box-header {
  text-transform: none;
}

.box-image-text h4 {
  text-transform: none;
}

.box-image-text .author-category {
  text-transform: none;
}

.team-member h3 {
  text-transform: none;
}


.team-member p.role {
  text-transform: none;
}


.category-menu a.nav-link {
  text-transform: none;
}


.ribbon {
  text-transform:  none;
}

.badge {
  text-transform: none;
}

footer.main-footer h4 {
  text-transform: none;
}

footer.main-footer .text {
  text-transform: none;
}


.bs-select .dropdown-menu .dropdown-menu a {
  text-transform: none;
}

.heading h1, .panel-heading h1, .heading h2, .panel-heading h2, .heading h3, .panel-heading h3, .heading h4, .panel-heading h4, .heading h5, .panel-heading h5, .heading h6, .panel-heading h6 {
  text-transform: none;
}

.card-header h1, .card-header h2, .card-header h3, .card-header h4, .card-header h5, .card-header h6 {
  text-transform: none;
}

.showcase h4 {
  text-transform: none;
}


.top-bar a.login-btn, .top-bar a.signup-btn {
  text-transform: none;
}


.modal .modal-header h4 {
  text-transform: none;
}


#navbar .dropdown-menu h5 {
  text-transform: none;
}

#navbar .dropdown-menu a.nav-link {
  text-transform: none !important;
}


#navbar .navbar-nav > li > a {
  text-transform: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.tooltip {
  font-family: 'Open Sans', sans-serif;
}

.bs-select .dropdown-menu .dropdown-menu a {
  font-family: 'Open Sans', sans-serif;
}

.bg-gray-dark {
  background: #d45026 !important;
}

.ul-icons li {
  color: #d45026;
}

.showcase {
  color: #d45026;
}

.showcase .icon-outlined {
  border-color: #d45026;
}

.form-group label {
  color: #d45026;
}

.top-bar {
  padding: 0px;
  background: #d45026;
}

#navbar .navbar-nav > li > a {
  color: #d45026;
}

#selected{
  background: #ffc713 !important;
}

#selected a:link,
#selected a:visited,
#selected a:hover {
  color: #fff !important;
  border-color: #f2b416 !important;
}

.box-simple.box-dark {
  background: #d45026;
}

.dark-mask.mask-primary {
  background: rgba(255,199,19,.9);
}

.no-bottom{
  padding: 60px 0px 0px 0px;
}

/* h2 {
  margin-top: -130px;
  padding-top: 130px;
  display: inline-block;
} */

.lead {
    font-size: 1rem;
    font-weight: 300;
}


.box-image .overlay {
  background: rgba(255,199,19,.6);
}

.box-image-text .overlay {
  background: rgba(255,199,19,.6);
}


.bg-light-yellow {
  background: rgba(255,199,19,.9) !important;
}

.box-simple.box-white {
  border: dotted 1px #d45026;
}


.box-simple.box-white p {
  color: #fff;
  text-align: left;
}

.box-simple.box-white h4 {
  color: #fff;
}

.box-simple.box-white h2 {
  color: #fff;
}

.bg-light-yellow h2 {
  color: #fff;
}

.bg-light-yellow h2:after {
  background:  #d45026;
}

.bg-light-yellow h4:after {
  content: " ";
  display: block;
  width: 50px;
  height: 2px;
  margin-top: .6rem;
  background: #d45026;
  margin-left: auto;
  margin-right: auto;
}

.bg-light-yellow a {
  color: #d45026 !important;
}
